<!DOCTYPE html>
<html>
<head>
  <title>Navbar with Icons</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <style>
    /* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=Montserrat+Alternates:wght@300&family=Roboto+Mono:wght@500&display=swap'); */
    /* Reset some default styles to ensure consistency */
    body, ul {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    nav {
      background-color: #fff;
      color: #1c1a1a;
      display: flex;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin: 4px;
      border: 1px solid #ccc;
      justify-content: space-between;
      align-items: center;
      padding: 15px 100px; 
      /* overflow: visible; */
    }

    .logo img {
      height: 40px;
      width: 45px; 
      cursor: pointer;
    }

    .nav-links span {
      margin-right: 180px;
      font-size: 18px; 
      color: #121111; 
      cursor: pointer;
    }

    .nav-links {
      list-style: none;
      display: flex;
      align-items: center;
      /* margin-right: 10px; */
    }

    .nav-links li {
      margin-left: 20px; 
      font-weight: bold;
      /* font-size: 100px; */
    }
    .nav-links span {
      margin-left: 20px; 
      font-weight: bold;
      /* font-size: 100px; */
    }

    .nav-links li a {
      color: #1c1919; 
      text-decoration: none;
      display: flex;
      align-items: center;
      font-size: 18px; 
      width: 100px;
    }

    .nav-links li a i {
      margin-right: 5px; 
    }

    .nav-links li a:hover {
      color: #ff9900;
    }

    .social-icons {
      cursor: pointer;
      text-decoration: none;
      display: flex;
      align-items: center;
    }

    .social-icons img {
      height: 40px;
      width: 45px; 
    }

   

  </style>
</head>

<body>
  <nav>
    <div class="logo">
      <img src="https://cdn-icons-png.flaticon.com/128/3322/3322046.png" alt="BlogApp">
    </div>
    <ul class="nav-links">
      <span >MyBlogApp</span>
      <li><a href="/home"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="/my_Blog"><i class="fa fa-home"></i> My Blog</a></li>
      <li><a href="/blog"><i class="fa fa-plus-circle"></i> Add Blog</a></li>
      <li><a href="/login"><i class="fa fa-sign-in-alt"></i> Login</a></li>
      <li><a href="/register"><i class="fa fa-user-plus"></i> Signup</a></li>
    </ul>
  </nav>
</body>
</html>
